root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
insert_final_newline = true

[*.cs]
indent_size = 4
trim_trailing_whitespace = true

dotnet_naming_rule.private_fields_with_underscore.symbols = private_fields
dotnet_naming_rule.private_fields_with_underscore.style = underscore_prefix
dotnet_naming_rule.private_fields_with_underscore.severity = suggestion

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.underscore_prefix.capitalization = camel_case
dotnet_naming_style.underscore_prefix.required_prefix = _

dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

[*.{json,yml,yaml}]
indent_size = 2
